svg-inkscape/logo_svg-tex.pdf_tex
indent.log
main.aux
main.aux.bak*
main.bak*
main.log
main.nav
main.out
main.pdf
main.snm
main.fdb_latexmk
main.synctex(busy)
svg-inkscape/logo_svg-tex.pdf
main.toc
main.vrb
texput.log
.idea
